/* FOOTER CUSTOMIZADO: ;
// --------------------------------------------------
*/

.footer {
    width: 100%;
    background: #3f4f55;
    color: #FFF;
    text-align: center;
    border-bottom: 10px solid #3396FF;
    padding: 25px 0 15px 0;
    box-sizing: border-box;
}
.footer a {
    color: #FFF; 
}
.footer p {
    margin: 0;
}
.footer nav ul {
    list-style: none;
    display: inline-block;
    float: right;
}
.footer nav ul li {
    float: left;
    margin: 0 0 0 10px;
}